@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

body {
    background-color: lightgray;
    margin: 0px;
}

.content {
   width: 1000px;
   margin: auto;
   background-color: #28282B;
   padding-top: 10px;

}

.left-num {
    padding-right: 9px;
}

.right-num {
    padding-left: 7px;
}

.left-number {
   /* padding-right: 20px;  */
   text-align: right;
   padding-right: 15px;
}

.right-number {
    text-align: left;
}
.total-votes {
    font-size:25px;
    font-family: 'DM Sans', sans-serif;
}
h1{
    margin-top: 0px;
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 0px;
}

.joe-trump{
    text-align: center;
}


.map-vis {
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
}

.map-vis1 { 
    margin-left: auto;
    margin-right: auto;

}

h2 {
    margin-top: 0px;
}

.usa-results-left {
    padding-top: 50px;
    font-family: 'DM Sans', sans-serif;
}

.usa-bar-states-left {
    padding-top: 15px;
    font-family: 'DM Sans', sans-serif;
}

.vis1 {
    
   margin-left: auto;
}

.joe {
    color: #4285F4;
    font-weight: bold;
}

.donald {
    color: #DB4437;
    font-weight: bold;
}

h3{
    margin-top: 0px;
    text-align: center;
}

.county-section {
    padding-top: 20px;
}

.ansh {
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}

body {
    font-family: 'DM Sans', sans-serif;
    color: white;
}